.searchPanel {
  z-index: 99;
  padding: 40px;
  position: absolute;
  top: 60px;
  right: 0;
  min-width: 40%;
  background-color: var(--black-blur);
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  backdrop-filter: blur(6px);

  .close {
    position: absolute;
    right: 40px;
    font-size: 1.2em;

    &:hover {
      cursor: pointer;
    }
  }

  .trendySearches,
  .categories {
    h2 {
      margin-bottom: 10px;
      font-size: 16px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        padding: 7px;
        border-radius: 15px;
        overflow: hidden;

        transition: all 0.1s linear;

        &:hover {
          background-color: var(--grey);
          background-size: 100%;
          cursor: pointer;

          transition: all 0.1s linear;
        }
      }
    }
  }

  .suggestion {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;

    h2 {
      align-self: flex-start;
      font-size: 16px;
    }

    iframe {
      border: none;
      width: fit-content;
      margin-top: 10px;
      width: 350px;
      height: 200px;
    }
  }

  input {
    width: fit-content;
    align-self: center;
  }
}

@media screen and (max-width: 780px) {
  .search {
    .searchPanel {
      width: 100vw;
      height: 100vh;
    }
  }
}
