.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #0a0a0a;

  .logoSection {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 15px 0;

      span {
        font-size: 2.5rem;
        font-weight: bold;
      }

      .x {
        color: #f499c1;
      }
    }

    .search {
      color: #f499c1;
    }

    .menu {
      display: none;
    }
  }
}

@media screen and (max-width: 780px) {
  .header {
    z-index: 2;
    position: sticky;
    top: 0;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .logoSection {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;

      .logo {
        padding: 10px 0;

        .logoImage {
          display: none;
        }
      }

      .menu {
        display: block;
      }
    }
  }
}
