.videoCard {
  position: relative;
  // min-width: 300px;
  width: 22%;
  min-height: 215px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  transition: all 0.1s ease-in-out;

  img {
    border-radius: 5px;
    overflow: hidden;
    &:hover {
      cursor: pointer;
    }
  }

  .details {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;

    .title {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      font-weight: 500;
      font-size: 1.1rem;
      margin-bottom: 10px;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    .content {
      display: flex;
      justify-content: space-between;
      width: 100%;

      > span {
        white-space: nowrap;
      }
    }
  }

  .source {
    z-index: 1;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    text-transform: capitalize;

    &.eporner {
      background-color: var(--eporner);
    }

    &.redtube {
      background-color: var(--redtube);
    }

    &.youporn {
      background-color: var(--youporn);
    }
  }

  .thumb {
    position: relative;
    width: 100%;
    height: 150px;
  }
}

@media screen and (max-width: 780px) {
  .videoCard {
    width: 100%;
    max-width: 100%;
    border-radius: 0;

    .details {
      border: none;

      .title {
        height: auto;
      }
    }
  }
}
