.favorites {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;

  .videos {
    width: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
  }
}

@media screen and (max-width: 780px) {
  .favorites {
    .videos {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
  }
}
