@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #0a0a0a;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: #ffffff;
}

button {
  padding: 10px;
  border-radius: 5px;
  color: #2f2f2f;
  background-color: #f499c1;
  border: none;

  transition: all 0.1s ease-in-out;

  &:hover {
    background-color: #ff1b7e;
    color: #ffffff;
    cursor: pointer;

    transition: all 0.1s ease-in-out;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
}
