.home {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  > iframe {
    width: 350px;
    height: 200px;
  }

  .shortBanner {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .home {
    padding: 1rem 0;

    .shortBanner {
      display: block;
    }

    .largeBanner {
      display: none;
    }
  }
}
