:root {
  --black: #0a0a0a;
  --black-blur: #000000ee;

  --white: #ffffff;

  --pink: #f499c1;
  --dark-pink: #e17a7a;

  --grey: #2f2f2f;
  --dark-grey: #222222;
  --light-grey: #dadada;

  --eporner: #ae0000;
  --pornhub: #ff9000;
  --redtube: #af1820;
  --xnxx: #000063;
  --xvideos: #de2600;
  --youporn: #ec567c;
}
