:root {
  --black: #0a0a0a;
  --black-blur: #0a0a0aee;

  --white: #ffffff;

  --pink: #f499c1;
  --dark-pink: #e17a7a;

  --grey: #2f2f2f;
  --dark-grey: #222222;
  --light-grey: #9b9b9b;

  --eporner: #ff85ba;
  --redtube: #b10000;
  --youporn: #9200af;
}
