.videos {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
  height: 100%;

  iframe {
    border: none;
    width: 500px;
    height: 300px;
  }

  button {
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media screen and (max-width: 768px) {
  .videos {
    position: static;
    iframe {
      width: 100vw;
      border: none;
    }

    button {
      top: 25px;
      left: 15px;
    }
  }
}
