.videos {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;

  .content {
    position: relative;

    h1 {
      text-align: center;
      padding: 15px;
      font-size: 1.5em;
    }

    iframe {
      border: none;
      width: 800px;
      height: 500px;
    }
  }

  .adsSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    iframe {
      height: 250px;
    }
  }
}

@media screen and (max-width: 768px) {
  .videos {
    position: static;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    .content {
      iframe {
        width: 100vw;
        height: fit-content;
        border: none;
      }

      button {
        top: 25px;
        left: 15px;
      }
    }

    .adsSection {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      iframe {
        height: 250px;

        &:not(:first-of-type) {
          display: none;
        }
      }
    }
  }
}
