.navbar {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 80px;

  > a {
    font-size: 1.1em;
  }

  background-color: #2f2f2f;
  background-size: 100vw;
}

@media screen and (max-width: 780px) {
  .navbar {
    margin-top: 10px;
    justify-content: space-around;
    background-color: #2f2f2f;
    padding: 10px 0;

    > a {
      width: 25%;
      text-align: center;
    }
  }
}
