.navbar {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0;

  background-color: #2f2f2f;
  background-size: 100vw;
}

@media screen and (max-width: 780px) {
  .navbar {
    margin-top: 10px;
    justify-content: space-around;
    background-color: #2f2f2f;

    > a {
      width: 33vw;
      text-align: center;
    }
  }
}
