.navbar {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  > a {
    width: 25%;
    font-size: 1.1em;
    border-left: #f499c1 solid 1px;
    text-align: center;
    padding: 10px;

    &:first-child {
      border-left: none;
    }

    &:last-child {
      border-right: none;
    }
  }

  background-color: #2f2f2f;
  background-size: 100vw;
}

@media screen and (max-width: 780px) {
  .navbar {
    justify-content: space-around;
    background-color: #2f2f2f;

    > a {
      width: 25%;
      text-align: center;
      border: none;
    }
  }
}
